$def with (room)
$var cssfiles: static\style.css

$if room.name == "Win":
    <pre style="font-size: 14pt; text-align: center;">
    $room.description
    </pre>

    <h1 style="text-align: center;">***Congratualations!***</h1><br>
    <h2 style="text-align: center;">*****You are the winner!!!*****</h2><br>
    
    <p style="color: blue; text-decoration: none; text-align: center;"><a href="/" >*****<span style="font-size: 16pt; color: yellow; text-align:center;">Play again?</span>*****</a></p>
$else:
    <h1>$room.name</h1>
    
    <pre style="font-size: 14pt;">
    $room.description
    </pre>

    $if room.attempts > 1 and room.attempts < 11:
               <h3>Attempt no: $(6 - room.attempts)</h3>
        <p>
        <form action="/game" method="POST">
        <input type="text" name="action"><input type="SUBMIT">
        </form>
        </p>
    $else:
        <p>
        <form action="/game" method="POST">
        <input type="text" name="action"><input type="SUBMIT">
        </form>
        </p>
    
        
